<ion-view view-title="Home" class="bar-calm">
  <ion-content>

    <div class="card">
      <div class="item item-energized">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search for Quizzes" ng-click="goToSearch()">
        </label>
      </div>
    </div>
    <!--{{data.length}}{{data}}-->
    <div class="card">
      <div class="item item-energized">
        Quiz Suggestions
        </div>
        <a href="#/app/quiz/{{item.id}}" class="item" ng-repeat="item in suggestedQuizes | limitTo:3 ">
        {{item.title}}
        </a>
    </div>


    <div class="card">
      <div class="item item-energized">
        Results for recent attempts
      </div>
      <div class="item" ng-repeat="item in recentAttempts">
        {{item.title}}<span class="badge badge-balanced">{{item.result}}/{{item.count}}</span>
      </div>
    </div>

  </ion-content>
</ion-view>


<!--<div id="progressBar" ng-controller="progressBar" class="container">-->
<!--<label class="row text-center">-->
<!--<div class="col col-33">Progress</div>-->
<!--</label>-->
<!--<progressbar class="progress-striped active" animate="true" max="100" value="55" type="success">-->
<!--<i><span count-to="55" duration="1" count-from="0"></span>%</i>-->
<!--</progressbar>-->
<!--</div>-->
