<ion-view view-title="Problems">
  <ion-content>
    <h2>Categories</h2>

<ul class="list">
    <li class="item">
     <a class="item item-icon-left item-royal" href="#/app/playlists">Trivial Problems</a>
    </li>
        <li class="item">
     <a class="item item-icon-left item-royal" href="#/app/playlists">Sorting Algorithms</a>
    </li>
        <li class="item">
     <a class="item item-icon-left item-royal" href="#/app/playlists">Searching Algorithms</a>
    </li>
        <li class="item">
     <a class="item item-icon-left item-royal" href="#/app/playlists">Mathematical Problems</a>
    </li>
        <li class="item">
     <a class="item item-icon-left item-royal" href="#/app/playlists">Graph Theory</a>
    </li>
</ul>


  </ion-content>
</ion-view>
