<ion-view view-title="Profile">
  <ion-content>
    <!-- part of code taken from http://codepen.io/nathvarun/pen/eAbCK/-->
    <div>
      <div has-header="true">
        <div id="profile-bg"></div>
        <div id="content">
          <div id="profile-info">
            <img id="profile-image" src="img/Hansika.PNG">
            <h3 id="profile-name">Hansika Peiris</h3>
            <span id="profile-description">Student at Vijayaba Central College, Hungama</span>
          </div>
          <div class="container">
            <ul class="list">
              <li class="item">Age
                <span class="badge badge-balanced">17 years</span>
              </li>
              <li class="item">Joined on
                <span class="badge badge-balanced"><small>06/11/2015</small></span>
              </li>
            </ul>
            <div class="card">
              <div class="item item-energized">
                <h2 class="text-center"><b>Institutes</b></h2>
              </div>
              <ion-list>
                <ion-item>
                  Vijayaba Central College, Hungama
                </ion-item>
                <ion-item>
                  Shakthi Institute, Matara
                </ion-item>
              </ion-list>
            </div>
            <div class="card">
              <div class="item item-energized">
                <h2 class="text-center"><b>Interests</b></h2>
              </div>
              <ion-list>
                <ion-item>
                  Information Technology
                </ion-item>
                <ion-item>
                  Biology
                </ion-item>
                <ion-item>
                  Mathematics
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>


